@page "/"
@page "/dashboard"

<div class="dashboard-root">
    <Grid Container
          Spacing="@Spacing.Four">
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <Budget />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalUsers />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TasksProgress />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalProfit />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalUsers />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalUsers />
        </Grid>

        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalUsers />
        </Grid>
        <Grid Item
              Large="@GridSize.Three"
              Small="@GridSize.Six"
              ExtraLarge="@GridSize.Three"
              ExtraSmall="@GridSize.Twelve">
            <TotalUsers />
        </Grid>

    </Grid>
</div>
